doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    title Superblog
  body
    p Here comes the entry point root element
    #root
    noscript You have to enable javascript to see this page


    script(language='javascript', src='./bundle.js')
